.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
   
    padding: 10px;
}

.img-gallery .item {

    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.img-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.img-gallery .highlight {
    grid-column: span 2;
    grid-row: span 2;
}

/* Responsive Design */
@media (max-width: 768px) {
    .img-gallery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .img-gallery .highlight {
        grid-column: span 1;
        grid-row: span 1;
    }
}
